.carousel {
    margin-top: 51px;
    border: none;
}
.slick {
    &-track {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-slide {
        width: 601px !important;
        z-index: 2;
        -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
        transform: scale(0.8) translateY(-1rem) translateX(0);
        opacity: 0.6;
        pointer-events: auto;
        transition: 1s;
        .item {
            &-inner {
                h4 {
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    margin-top: 19px;
                }
                p {
                    font-size: 14px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.57;
                    letter-spacing: normal;
                    text-align: center;
                    color: #3d3d3d;
                }
            }
        }
        img {
            margin: 0 auto;
            max-width: 114px;
            border-radius: 50%; 
            margin-top: 31px;
        }
    }
    &-current {
        width: 601px !important;
        z-index: 3;
        -webkit-transform: scale(1) translateY(0) translateX(0);
        transform: scale(1) translateY(0) translateX(0);
        opacity: 1;
        pointer-events: auto;
        transition: 1s;
    }
    &-arrow {
        position: absolute;
        top: 65px;
        z-index: 99;
        background: transparent;
        border: none;
        outline: none;
        img {
            width: 14px;
            height: 47px;
        }  
    }
    &-next {
        right: 40%;
    }
    &-prev {
        left: 40%;
    }
    
}
