.consultation {
    padding: 28px 0 58px 0;
    &_divider {
        position: relative;
        display: flex;
        justify-content: center;
        &_left {
            position: absolute;
            left: 0;
            top: 50%;
            width: 501px;
            height: 100%;
            border-left: 1px solid #888888;
            border-top: 1px solid #888888;
        }
        &_right {
            position: absolute;
            right: 0;
            top: 50%;
            width: 501px;
            height: 100%;
            border-right: 1px solid #888888;
            border-top: 1px solid #888888;
        }
        &-round {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 5px 17px 5px;
            width: 102px;
            height: 102px;
            border: solid 1px $main-color;
            border-radius: 100%;
        }
        &-button {
            position: relative;
            &_left {
                position: absolute;
                left: 0;
                bottom: 21px;
                width: 462px;
                height: 70px;
                border-left: 1px solid #888888;
                border-bottom: 1px solid #888888;
            }
            &_right {
                position: absolute;
                right: 0;
                bottom: 21px;
                width: 462px;
                height: 70px;
                border-right: 1px solid #888888;
                border-bottom: 1px solid #888888;
            }
        }
    }
    .form {
        z-index: 0;
    }
    input {
        display: block;
    }
    label.error {
        display: block;
    }

}