.divider {
    display: block;
    width: 148px;
    height: 1px;
    background: $main-color;
    margin: 20px auto 17px auto;
}
.footer_divider {
    width: 100%;
    height: 1px;
    margin: 26px 0 19px;
    background: rgba(255, 255, 255, 0.6);
}